In [ ]:
## Team 14 - Youtube Trend Analysis Using ArangoDB

In [ ]:
## Installing ArangoClient Library

In [20]:
conda install -c conda-forge python-arango

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/chaitanya/anaconda3

  added / updated specs:
    - python-arango


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    boltons-23.0.0             |     pyhd8ed1ab_0         296 KB  conda-forge
    ca-certificates-2022.12.7  |       h033912b_0         142 KB  conda-forge
    certifi-2022.12.7          |     pyhd8ed1ab_0         147 KB  conda-forge
    conda-23.3.1               |  py310hecd8cb5_0         973 KB
    jsonpatch-1.32             |     pyhd8ed1ab_0          14 KB  conda-forge
    jsonpointer-2.0            |             py_0           9 KB  conda-forge
    openssl-1.1.1t             |       hfd90126_0         1.7 MB  conda-forge
    python-arango-7.5.7        |     pyhd8ed1ab_0          79 KB  conda-forge
    requests-toolbelt-0.10.1   |     pyhd8ed1ab_0          42 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.3 MB

The following NEW packages will be INSTALLED:

  boltons            conda-forge/noarch::boltons-23.0.0-pyhd8ed1ab_0
  jsonpatch          conda-forge/noarch::jsonpatch-1.32-pyhd8ed1ab_0
  jsonpointer        conda-forge/noarch::jsonpointer-2.0-py_0
  python-arango      conda-forge/noarch::python-arango-7.5.7-pyhd8ed1ab_0
  requests-toolbelt  conda-forge/noarch::requests-toolbelt-0.10.1-pyhd8ed1ab_0

The following packages will be UPDATED:

  conda                              23.1.0-py310hecd8cb5_0 --> 23.3.1-py310hecd8cb5_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    pkgs/main::ca-certificates-2023.01.10~ --> conda-forge::ca-certificates-2022.12.7-h033912b_0
  certifi            pkgs/main/osx-64::certifi-2022.12.7-p~ --> conda-forge/noarch::certifi-2022.12.7-pyhd8ed1ab_0
  openssl              pkgs/main::openssl-1.1.1t-hca72f7f_0 --> conda-forge::openssl-1.1.1t-hfd90126_0



Downloading and Extracting Packages
requests-toolbelt-0. | 42 KB     |                                       |   0%
python-arango-7.5.7  | 79 KB     |                                       |   0%

certifi-2022.12.7    | 147 KB    |                                       |   0%


openssl-1.1.1t       | 1.7 MB    |                                       |   0%



boltons-23.0.0       | 296 KB    |                                       |   0%




conda-23.3.1         | 973 KB    |                                       |   0%





jsonpointer-2.0      | 9 KB      |                                       |   0%






jsonpatch-1.32       | 14 KB     |                                       |   0%







ca-certificates-2022 | 142 KB    |                                       |   0%

certifi-2022.12.7    | 147 KB    | ####                                  |  11%


openssl-1.1.1t       | 1.7 MB    | 3                                     |   1%



requests-toolbelt-0. | 42 KB     | ##############1                       |  38%


openssl-1.1.1t       | 1.7 MB    | #######3                              |  20%
python-arango-7.5.7  | 79 KB     | #######5                              |  20%

certifi-2022.12.7    | 147 KB    | ##################################### | 100%

certifi-2022.12.7    | 147 KB    | ##################################### | 100%





jsonpointer-2.0      | 9 KB      | ##################################### | 100%






requests-toolbelt-0. | 42 KB     | ##################################### | 100%





jsonpointer-2.0      | 9 KB      | ##################################### | 100%






jsonpatch-1.32       | 14 KB     | ##################################### | 100%







ca-certificates-2022 | 142 KB    | ####1                                 |  11%
python-arango-7.5.7  | 79 KB     | ##################################### | 100%



boltons-23.0.0       | 296 KB    | ##################################### | 100%



boltons-23.0.0       | 296 KB    | ##################################### | 100%




conda-23.3.1         | 973 KB    | 6                                     |   2%







ca-certificates-2022 | 142 KB    | ##################################### | 100%


openssl-1.1.1t       | 1.7 MB    | ##################################### | 100%


openssl-1.1.1t       | 1.7 MB    | ##################################### | 100%




conda-23.3.1         | 973 KB    | ##############################4       |  82%









































Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [ ]:
## Importing Required Libraries

In [112]:
from arango import ArangoClient
import os
import json
import time
import sys
import pandas as pd
import json
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns
import random
from faker import Faker

In [3]:
## Establishing the Connection with Youtube API

In [4]:
api_key = 'AIzaSyBVmH3LnJHjMUibU3qBYhf5BKFaTnrn85k'

channel_ids = ['UCnz-ZXXER4jOvuED5trXfEA', # techTFQ
               'UCLLw7jmFsvfIVaUFsLs8mlQ', # Luke Barousse 
               'UCiT9RITQ9PW6BhXK0y2jaeg', # Ken Jee
               'UC7cs8q-gJRlGwj4A8OmCmXg', # Alex the analyst
               'UCneyi-aYq4VIBYIAQgWmk_w', # Ranveer Alahabadia
               'UCUw8vQF-X7CJqdVpxBYcavQ', # Bhadipa
               'UCe2JAC5FUfbxLCfAvBWmNJA', # Your Food Lab
               'UC_znAZirr11Q5bPrdhKVLZQ'  #MasterChef World
              ]

youtube = build('youtube', 'v3', developerKey=api_key)

In [5]:
## Function to get channel statistics

In [6]:
def get_channel_stats(youtube, channel_ids):
    all_data = []
    request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_ids))
    response = request.execute() 
    
    for i in range(len(response['items'])):
        data = dict(Channel_name = response['items'][i]['snippet']['title'],
                    Subscribers = response['items'][i]['statistics']['subscriberCount'],
                    Views = response['items'][i]['statistics']['viewCount'],
                    Total_videos = response['items'][i]['statistics']['videoCount'],
                    playlist_id = response['items'][i]['contentDetails']['relatedPlaylists']['uploads'])
        all_data.append(data)
    
    return all_data

In [7]:
channel_statistics = get_channel_stats(youtube, channel_ids)

In [8]:
Youtube_Channel_df = pd.DataFrame(channel_statistics)

In [9]:
Youtube_Channel_df

,Channel_name,Subscribers,Views,Total_videos,playlist_id
0,Your Food Lab,4410000,760796513,1278,UUe2JAC5FUfbxLCfAvBWmNJA
1,Bharatiya Digital Party,1380000,262185607,476,UUUw8vQF-X7CJqdVpxBYcavQ
2,Alex The Analyst,439000,17131834,202,UU7cs8q-gJRlGwj4A8OmCmXg
3,MasterChef World,2070000,1323852517,1581,UU_znAZirr11Q5bPrdhKVLZQ
4,Ken Jee,240000,7909394,273,UUiT9RITQ9PW6BhXK0y2jaeg
5,Ranveer Allahbadia,5090000,515108058,490,UUneyi-aYq4VIBYIAQgWmk_w
6,techTFQ,187000,9040167,87,UUnz-ZXXER4jOvuED5trXfEA
7,Luke Barousse,332000,15180821,133,UULLw7jmFsvfIVaUFsLs8mlQ

In [12]:
Youtube_Channel_df['Subscribers'] = pd.to_numeric(Youtube_Channel_df['Subscribers'])
Youtube_Channel_df['Views'] = pd.to_numeric(Youtube_Channel_df['Views'])
Youtube_Channel_df['Total_videos'] = pd.to_numeric(Youtube_Channel_df['Total_videos'])
Youtube_Channel_df.dtypes

Channel_name    object
Subscribers      int64
Views            int64
Total_videos     int64
playlist_id     object
dtype: object

In [40]:
Youtube_Channel_df

,Channel_name,Subscribers,Views,Total_videos,playlist_id,User_ID,Channel_ID,Youtuber_ID
0,Your Food Lab,4410000,760796513,1278,UUe2JAC5FUfbxLCfAvBWmNJA,74,3,75
1,Bharatiya Digital Party,1380000,262185607,476,UUUw8vQF-X7CJqdVpxBYcavQ,10,6,44
2,Alex The Analyst,439000,17131834,202,UU7cs8q-gJRlGwj4A8OmCmXg,47,7,46
3,MasterChef World,2070000,1323852517,1581,UU_znAZirr11Q5bPrdhKVLZQ,41,2,58
4,Ken Jee,240000,7909394,273,UUiT9RITQ9PW6BhXK0y2jaeg,79,1,96
5,Ranveer Allahbadia,5090000,515108058,490,UUneyi-aYq4VIBYIAQgWmk_w,50,4,27
6,techTFQ,187000,9040167,87,UUnz-ZXXER4jOvuED5trXfEA,23,8,58
7,Luke Barousse,332000,15180821,133,UULLw7jmFsvfIVaUFsLs8mlQ,84,5,5

In [41]:
used_ids = set()

def generate_random_id():
    new_id = random.randint(1, 8)
    while new_id in used_ids:
        new_id = random.randint(1,8)
    used_ids.add(new_id)
    return new_id

In [42]:
Youtube_Channel_df['Youtuber_ID'] = Youtube_Channel_df.apply(lambda x: random.randint(1, 100), axis=1)
Youtube_Channel_df['Channel_ID'] = Youtube_Channel_df.apply(lambda x: generate_random_id(), axis=1)

In [43]:
Youtube_Channel_df

,Channel_name,Subscribers,Views,Total_videos,playlist_id,User_ID,Channel_ID,Youtuber_ID
0,Your Food Lab,4410000,760796513,1278,UUe2JAC5FUfbxLCfAvBWmNJA,74,3,23
1,Bharatiya Digital Party,1380000,262185607,476,UUUw8vQF-X7CJqdVpxBYcavQ,10,2,73
2,Alex The Analyst,439000,17131834,202,UU7cs8q-gJRlGwj4A8OmCmXg,47,1,33
3,MasterChef World,2070000,1323852517,1581,UU_znAZirr11Q5bPrdhKVLZQ,41,6,48
4,Ken Jee,240000,7909394,273,UUiT9RITQ9PW6BhXK0y2jaeg,79,4,1
5,Ranveer Allahbadia,5090000,515108058,490,UUneyi-aYq4VIBYIAQgWmk_w,50,5,69
6,techTFQ,187000,9040167,87,UUnz-ZXXER4jOvuED5trXfEA,23,7,97
7,Luke Barousse,332000,15180821,133,UULLw7jmFsvfIVaUFsLs8mlQ,84,8,92

In [87]:
pwd

'/Users/chaitanya/anaconda3/ArangoDB'

In [88]:
Youtube_Channel_df.to_csv('/Users/chaitanya/anaconda3/ArangoDB/Data/Youtube_Channel.csv', index=False)

In [14]:
## Function to get video ids

In [15]:
def get_video_ids(youtube, playlist_id):
    
    request = youtube.playlistItems().list(
                part='contentDetails',
                playlistId = playlist_id,
                maxResults = 50)
    response = request.execute()
    
    video_ids = []
    
    for i in range(len(response['items'])):
        video_ids.append(response['items'][i]['contentDetails']['videoId'])
        
    next_page_token = response.get('nextPageToken')
    more_pages = True
    
    while more_pages:
        if next_page_token is None:
            more_pages = False
        else:
            request = youtube.playlistItems().list(
                        part='contentDetails',
                        playlistId = playlist_id,
                        maxResults = 50,
                        pageToken = next_page_token)
            response = request.execute()
    
            for i in range(len(response['items'])):
                video_ids.append(response['items'][i]['contentDetails']['videoId'])
            
            next_page_token = response.get('nextPageToken')
        
    return video_ids

In [17]:
video_ids = []

for channel in Youtube_Channel_df['Channel_name']:
    playlist_id = Youtube_Channel_df.loc[Youtube_Channel_df['Channel_name'] == channel]['playlist_id'].iloc[0]
    video_ids += get_video_ids(youtube, playlist_id)

In [18]:
## Function to get video details

In [19]:
def get_video_details(youtube, video_ids):
    all_video_stats = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
                    part='snippet,statistics',
                    id=','.join(video_ids[i:i+50]))
        response = request.execute()
        
        for video in response['items']:
            video_stats = dict(
                               Title = video['snippet']['title'],
                               Published_date = video['snippet']['publishedAt'],
                               Views = video['statistics']['viewCount'],
                               Likes = random.randint(0, 100000),
                               Dislikes = random.randint(0, 1000),
                               Comments = random.randint(0, 1000),
                               )
            all_video_stats.append(video_stats)
    
    return all_video_stats

In [20]:
video_details = get_video_details(youtube, video_ids)

In [21]:
Youtube_Video_df = pd.DataFrame(video_details)

In [22]:
Youtube_Video_df

,Title,Published_date,Views,Likes,Dislikes,Comments
0,Laccha Paratha Easy Process at Home | लच्छा पर...,2023-04-10T13:50:40Z,147820,59505,282,136
1,Tandoori Chicken Strips | Crispy Chicken Strip...,2023-04-07T14:33:41Z,230009,53362,229,30
2,Gujarati Khichdi Kadhi Recipe | गुजराती खिचड़ी...,2023-04-05T13:31:13Z,202439,43601,629,136
3,Paneer 65 Recipe | Paneer Starter Recipe | पनी...,2023-04-03T13:00:30Z,191723,46710,56,400
4,Butter chicken with @YashrajMukhateOfficial X ...,2023-04-01T13:04:49Z,166767,85769,579,8
...,...,...,...,...,...,...
4514,Conditional Format Tables in Tableau (Like Exc...,2020-09-11T21:15:22Z,7425,47520,316,474
4515,Create Stacked Bar Chart (and any other visual...,2020-09-11T08:59:20Z,1893,433,271,59
4516,Dimensions Vs Measures (Blue Vs Green Data) -...,2020-09-09T23:37:15Z,2718,94273,750,610
4517,How To Use Tableau Desktop Controls - Tableau ...,2020-09-01T20:40:00Z,3902,40699,408,481
4518,Connect Google Sheets to Tableau & Joining Dat...,2020-08-14T19:13:54Z,20101,38752,55,922

In [23]:
Youtube_Video_df['Published_date'] = pd.to_datetime(Youtube_Video_df['Published_date']).dt.date
Youtube_Video_df['Views'] = pd.to_numeric(Youtube_Video_df['Views'])
Youtube_Video_df['Likes'] = pd.to_numeric(Youtube_Video_df['Likes'])
Youtube_Video_df['Dislikes'] = pd.to_numeric(Youtube_Video_df['Dislikes'])
Youtube_Video_df['Views'] = pd.to_numeric(Youtube_Video_df['Views'])
Youtube_Video_df

,Title,Published_date,Views,Likes,Dislikes,Comments
0,Laccha Paratha Easy Process at Home | लच्छा पर...,2023-04-10,147820,59505,282,136
1,Tandoori Chicken Strips | Crispy Chicken Strip...,2023-04-07,230009,53362,229,30
2,Gujarati Khichdi Kadhi Recipe | गुजराती खिचड़ी...,2023-04-05,202439,43601,629,136
3,Paneer 65 Recipe | Paneer Starter Recipe | पनी...,2023-04-03,191723,46710,56,400
4,Butter chicken with @YashrajMukhateOfficial X ...,2023-04-01,166767,85769,579,8
...,...,...,...,...,...,...
4514,Conditional Format Tables in Tableau (Like Exc...,2020-09-11,7425,47520,316,474
4515,Create Stacked Bar Chart (and any other visual...,2020-09-11,1893,433,271,59
4516,Dimensions Vs Measures (Blue Vs Green Data) -...,2020-09-09,2718,94273,750,610
4517,How To Use Tableau Desktop Controls - Tableau ...,2020-09-01,3902,40699,408,481
4518,Connect Google Sheets to Tableau & Joining Dat...,2020-08-14,20101,38752,55,922

In [49]:
north_america = ['Canada', 'Mexico', 'United States']
asia = ['China', 'India', 'Japan', 'South Korea']
europe = ['France', 'Germany', 'Italy', 'Spain', 'United Kingdom']

In [100]:
Youtube_Video_df['User_ID'] = Youtube_Video_df.apply(lambda x: random.randint(1, 100), axis=1)
Youtube_Video_df['Channel_ID'] = Youtube_Video_df.apply(lambda x: random.randint(1, 5), axis=1)
Youtube_Video_df['Country_Name'] = Youtube_Video_df.apply(lambda x: random.choice(north_america + asia + europe), axis=1)
Youtube_Video_df['Category_ID'] = Youtube_Video_df.apply(lambda x: random.randint(1, 5), axis=1)
Youtube_Video_df['Region_ID'] = Youtube_Video_df.apply(lambda x: random.randint(1, 3), axis=1)

In [104]:
Youtube_Video_df

,Title,Published_date,Views,Likes,Dislikes,Comments,User_ID,Channel_ID,Country_Name,Category_ID,Region_ID
0,Laccha Paratha Easy Process at Home | लच्छा पर...,2023-04-10,147820,59505,282,136,99,3,Germany,5,1
1,Tandoori Chicken Strips | Crispy Chicken Strip...,2023-04-07,230009,53362,229,30,76,2,Mexico,3,3
2,Gujarati Khichdi Kadhi Recipe | गुजराती खिचड़ी...,2023-04-05,202439,43601,629,136,16,3,Germany,3,2
3,Paneer 65 Recipe | Paneer Starter Recipe | पनी...,2023-04-03,191723,46710,56,400,56,1,Germany,5,1
4,Butter chicken with @YashrajMukhateOfficial X ...,2023-04-01,166767,85769,579,8,28,4,Italy,4,2
...,...,...,...,...,...,...,...,...,...,...,...
4514,Conditional Format Tables in Tableau (Like Exc...,2020-09-11,7425,47520,316,474,41,3,Italy,2,2
4515,Create Stacked Bar Chart (and any other visual...,2020-09-11,1893,433,271,59,58,1,United States,3,1
4516,Dimensions Vs Measures (Blue Vs Green Data) -...,2020-09-09,2718,94273,750,610,91,4,France,5,2
4517,How To Use Tableau Desktop Controls - Tableau ...,2020-09-01,3902,40699,408,481,68,1,Spain,5,1
4518,Connect Google Sheets to Tableau & Joining Dat...,2020-08-14,20101,38752,55,922,4,4,Mexico,1,3

In [105]:
Youtube_Video_df.to_csv('/Users/chaitanya/anaconda3/ArangoDB/Data/Youtube_Videos.csv', index=False)

In [ ]:
## Establishing the Connection with ArangoDB Server

In [54]:
Client = ArangoClient(hosts ="http://127.0.0.1:8529/")

sys_db = Client.db("_system", username = "root", password = "")

path = '/Users/chaitanya/anaconda3/ArangoDB/Data/'

file = os.listdir(path)

print("Files in the path:",file)

Files in the path: ['Youtube_Videos.json', 'User_Data.json', 'Youtube_Channels.json', 'Youtube_Categories.json', 'Youtube_Channel.csv', 'Regions.json', 'Region_Data.csv', '.ipynb_checkpoints', 'User_Data.csv', 'Youtube_Videos.csv', 'Collections', 'Video_Category.csv']

In [55]:
## Create a new database named "Youtube_Trend_Analysis"

In [56]:
if not sys_db.has_database("Youtube_Trend_Analysis"):
    sys_db.create_database("Youtube_Trend_Analysis")
    print("Database created:", "Youtube_Trend_Analysis")
else:
    print("Database already exists:", "Youtube_Trend_Analysis")

Database created: Youtube_Trend_Analysis

In [57]:
## Assigning Database as "Youtube_Trend_Analysis"

In [58]:
Yt_db = Client.db("Youtube_Trend_Analysis", username = "root", password = "")

In [59]:
Yt_db

In [ ]:
## Loading Generated Data into DataFrames (Fake Date) and Data PreProcessing

In [60]:
user_df = pd.read_csv('/Users/chaitanya/anaconda3/ArangoDB/Data/User_Data.csv')
#Youtube_Video_df = pd.read_csv('/Users/chaitanya/anaconda3/ArangoDB/Data/Youtube_Videos.csv')
#Youtube_Channel_df = pd.read_csv('/Users/chaitanya/anaconda3/ArangoDB/Data/Youtube_Channel.csv')
Youtube_Category_df = pd.read_csv('/Users/chaitanya/anaconda3/ArangoDB/Data/Video_Category.csv')
Region_df = pd.read_csv('/Users/chaitanya/anaconda3/ArangoDB/Data/Region_Data.csv')

In [61]:
user_df.head()

   User_ID      User_Name  Age  Gender  Video_ID  Region_ID        Country
0        1         Gaming   40  Female        48          5  United States
1        2  Entertainment   38  Female        51          4         Russia
2        3   Stock Market   41  Female        27          4          India
3        4     Technology   18  Female        36          5          China
4        5       Tv Shows   24    Male        25          5          Japan

In [62]:
Youtube_Video_df.head()

,Title,Published_date,Views,Likes,Dislikes,Comments,User_ID,Channel_ID,Country_Name,Category_ID
0,Laccha Paratha Easy Process at Home | लच्छा पर...,2023-04-10,147820,59505,282,136,25,5,Spain,3
1,Tandoori Chicken Strips | Crispy Chicken Strip...,2023-04-07,230009,53362,229,30,45,1,United States,5
2,Gujarati Khichdi Kadhi Recipe | गुजराती खिचड़ी...,2023-04-05,202439,43601,629,136,53,5,Germany,4
3,Paneer 65 Recipe | Paneer Starter Recipe | पनी...,2023-04-03,191723,46710,56,400,77,2,United States,4
4,Butter chicken with @YashrajMukhateOfficial X ...,2023-04-01,166767,85769,579,8,8,4,United Kingdom,5

In [63]:
Youtube_Channel_df.head()

,Channel_name,Subscribers,Views,Total_videos,playlist_id,User_ID,Channel_ID,Youtuber_ID
0,Your Food Lab,4410000,760796513,1278,UUe2JAC5FUfbxLCfAvBWmNJA,74,3,23
1,Bharatiya Digital Party,1380000,262185607,476,UUUw8vQF-X7CJqdVpxBYcavQ,10,2,73
2,Alex The Analyst,439000,17131834,202,UU7cs8q-gJRlGwj4A8OmCmXg,47,1,33
3,MasterChef World,2070000,1323852517,1581,UU_znAZirr11Q5bPrdhKVLZQ,41,6,48
4,Ken Jee,240000,7909394,273,UUiT9RITQ9PW6BhXK0y2jaeg,79,4,1

In [64]:
Youtube_Category_df.head()

   VideoCategory_ID VideoCategoryName
0                 1            Gaming
1                 2     Entertainment
2                 3      Stock Market
3                 4        Technology
4                 5          Tv Shows

In [65]:
Region_df.head()

   Region_ID    Region_Name
0          1  North America
1          2           Asia
2          3         Europe
3          4     Austrailia
4          5         Africa

In [66]:
## Data Preprocessing to check Null values and fill them with standardization

In [67]:
user_df.isna().sum(axis = 0)

User_ID      0
User_Name    0
Age          0
Gender       0
Video_ID     0
Region_ID    0
Country      0
dtype: int64

In [68]:
Youtube_Video_df.isna().sum(axis = 0)

Title             0
Published_date    0
Views             0
Likes             0
Dislikes          0
Comments          0
User_ID           0
Channel_ID        0
Country_Name      0
Category_ID       0
dtype: int64

In [69]:
Youtube_Channel_df.isna().sum(axis = 0)

Channel_name    0
Subscribers     0
Views           0
Total_videos    0
playlist_id     0
User_ID         0
Channel_ID      0
Youtuber_ID     0
dtype: int64

In [70]:
Youtube_Category_df.isna().sum(axis = 0)

VideoCategory_ID     0
VideoCategoryName    0
dtype: int64

In [71]:
Region_df.isna().sum(axis = 0)

Region_ID      0
Region_Name    0
dtype: int64

In [72]:
## Creating Dictionaries from the generated data

In [106]:
User_Data_dict = user_df.to_dict(orient='records')
Youtube_Video_dict = Youtube_Video_df.to_dict(orient='records')
Youtube_Channel_dict = Youtube_Channel_df.to_dict(orient='records')
Youtube_Category_dict = Youtube_Category_df.to_dict(orient='records')
Region_dict = Region_df.to_dict(orient='records')

In [74]:
# Create User_Data collection

In [75]:
if not Yt_db.has_collection("User_Data"):
    User_collection = Yt_db.create_collection(name="User_Data")
    print("Collection created:", User_collection.name)
else:
    collection = Yt_db.collection("User_Data")
    print("Collection already exists:", User_collection.name)

Collection created: User_Data

In [76]:
# Create Youtube_Videos collection

In [107]:
if not Yt_db.has_collection("Youtube_Videos"):
    YT_Videos_collection = Yt_db.create_collection(name="Youtube_Videos")
    print("Collection created:", YT_Videos_collection.name)
else:
    collection = Yt_db.collection("Youtube_Videos")
    print("Collection already exists:", YT_Videos_collection.name)

Collection already exists: Youtube_Videos

In [78]:
# Create Youtube_Channels collection

In [79]:
# Create a new collection
if not Yt_db.has_collection("Youtube_Channels"):
    YT_Channels_collection = Yt_db.create_collection(name="Youtube_Channels")
    print("Collection created:", YT_Channels_collection.name)
else:
    collection = Yt_db.collection("Youtube_Channel")
    print("Collection already exists:", YT_Channels_collection.name)

Collection created: Youtube_Channels

In [80]:
# Create Youtube_Categories collection

In [81]:
# Create a new collection
if not Yt_db.has_collection("Youtube_Categories"):
    YT_Catagories_collection = Yt_db.create_collection(name="Youtube_Categories")
    print("Collection created:", YT_Catagories_collection.name)
else:
    collection = Yt_db.collection("Youtube_Categories")
    print("Collection already exists:", YT_Catagories_collection.name)

Collection created: Youtube_Categories

In [82]:
# Create Regions collection

In [83]:
# Create a new collection
if not Yt_db.has_collection("Regions"):
    Region_collection = Yt_db.create_collection(name="Regions")
    print("Collection created:", Region_collection.name)
else:
    collection = Yt_db.collection("Regions")
    print("Collection already exists:", Region_collection.name)

Collection created: Regions

In [84]:
# Pushing data from DataFrames to the Collections created in ArangoDB Server

In [85]:
csv_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/User_Data.csv"
with open(csv_file, "r") as f:
    header = f.readline().strip().split(",")
    docs = []
    for line in f:
        values = line.strip().split(",")
        doc = dict(zip(header, values))
        docs.append(doc)
    User_collection.insert_many(docs)

In [108]:
csv_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Youtube_Videos.csv"
with open(csv_file, "r") as f:
    header = f.readline().strip().split(",")
    docs = []
    for line in f:
        values = line.strip().split(",")
        doc = dict(zip(header, values))
        docs.append(doc)
    YT_Videos_collection.insert_many(docs)

In [91]:
csv_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Youtube_Channel.csv"
with open(csv_file, "r") as f:
    header = f.readline().strip().split(",")
    docs = []
    for line in f:
        values = line.strip().split(",")
        doc = dict(zip(header, values))
        docs.append(doc)
    YT_Channels_collection.insert_many(docs)

In [92]:
csv_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Video_Category.csv"
with open(csv_file, "r") as f:
    header = f.readline().strip().split(",")
    docs = []
    for line in f:
        values = line.strip().split(",")
        doc = dict(zip(header, values))
        docs.append(doc)
    YT_Catagories_collection.insert_many(docs)

In [93]:
csv_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Region_Data.csv"
with open(csv_file, "r") as f:
    header = f.readline().strip().split(",")
    docs = []
    for line in f:
        values = line.strip().split(",")
        doc = dict(zip(header, values))
        docs.append(doc)
    Region_collection.insert_many(docs)

In [94]:
# Saving all the collections to json format for real time updation

In [115]:
query = "FOR doc IN User_Data RETURN doc"
cursor = Yt_db.aql.execute(query)
docs = [doc for doc in cursor]

# Save data as JSON file
json_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/User_Data.json"
with open(json_file, "w") as f:
    json.dump(docs, f)
print(f"Saved {len(docs)} documents to file '{json_file}'")

Saved 100 documents to file '/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/User_Data.json'

In [125]:
query = "FOR doc IN Youtube_Videos RETURN doc"
cursor = Yt_db.aql.execute(query)
docs = [doc for doc in cursor]

# Save data as JSON file
json_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/Youtube_Videos.json"
with open(json_file, "w") as f:
    json.dump(docs, f)
print(f"Saved {len(docs)} documents to file '{json_file}'")

Saved 4519 documents to file '/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/Youtube_Videos.json'

In [117]:
query = "FOR doc IN Youtube_Channels RETURN doc"
cursor = Yt_db.aql.execute(query)
docs = [doc for doc in cursor]

# Save data as JSON file
json_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/Youtube_Channels.json"
with open(json_file, "w") as f:
    json.dump(docs, f)
print(f"Saved {len(docs)} documents to file '{json_file}'")

Saved 8 documents to file '/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/Youtube_Channels.json'

In [118]:
query = "FOR doc IN Youtube_Categories RETURN doc"
cursor = Yt_db.aql.execute(query)
docs = [doc for doc in cursor]

# Save data as JSON file
json_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/Youtube_Categories.json"
with open(json_file, "w") as f:
    json.dump(docs, f)
print(f"Saved {len(docs)} documents to file '{json_file}'")

Saved 13 documents to file '/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/Youtube_Categories.json'

In [119]:
query = "FOR doc IN Regions RETURN doc"
cursor = Yt_db.aql.execute(query)
docs = [doc for doc in cursor]

# Save data as JSON file
json_file = "/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/Regions.json"
with open(json_file, "w") as f:
    json.dump(docs, f)
print(f"Saved {len(docs)} documents to file '{json_file}'")

Saved 5 documents to file '/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/Regions.json'

In [296]:
# Function To Fetch All the files in the directory to check updates

In [120]:
def file_stat(dic,path):
    for files in os.listdir(path):
        file_path = os.path.join(path, files)
        if os.path.isfile(file_path) and os.path.splitext(file_path)[1] == '.json':
            dic[file_path] = os.path.getmtime(file_path)
            local_time = time.ctime(dic[file_path])
            print("###################################")
            print("For file name:", files)
            print("Last modification time(Local Time):", local_time)
    return

In [121]:
pwd

'/Users/chaitanya/anaconda3/ArangoDB'

In [267]:
# Real time data updation/ Refresh code

In [ ]:
dicts = {}
zd = {}

collections_path = '/Users/chaitanya/anaconda3/ArangoDB/Data/Collections/'

file_stat(zd,collections_path)

while True:
    selection = input("C: Create User\nQ: Quit")
    
    if selection == "Q" or selection == "q":
        print("Quitting")
        sys.exit()
    if selection == "C" or selection == "c":
        print("Detecting")
        
        #####################################
        time.sleep(2)
        #####################################
        
        file_stat(dicts, collections_path)
        
        for i in dicts:
            if dicts[i] == zd[i]:
                pass
            else:
                zd[i] = os.path.getmtime(i)
                filepath, tmpfilename = os.path.split(i)
                filename,extension = os.path.splitext(tmpfilename)
                print("Collection: '",filename,"' is updated and new information will be update in the collection" )
                
                collection = Yt_db.collection(str(filename))
                print(collection)
                with open(i) as fd:
                    data = json.load(fd)
                collection.import_bulk(documents = data, on_duplicate = 'update')

###################################
For file name: Youtube_Videos.json
Last modification time(Local Time): Tue Apr 11 21:54:14 2023
###################################
For file name: User_Data.json
Last modification time(Local Time): Tue Apr 11 21:49:59 2023
###################################
For file name: Youtube_Channels.json
Last modification time(Local Time): Tue Apr 11 21:50:00 2023
###################################
For file name: Youtube_Categories.json
Last modification time(Local Time): Tue Apr 11 21:50:01 2023
###################################
For file name: Regions.json
Last modification time(Local Time): Tue Apr 11 21:50:02 2023
C: Create User
Q: QuitC
Detecting
###################################
For file name: Youtube_Videos.json
Last modification time(Local Time): Tue Apr 11 21:54:34 2023
###################################
For file name: User_Data.json
Last modification time(Local Time): Tue Apr 11 21:49:59 2023
###################################
For file name: Youtube_Channels.json
Last modification time(Local Time): Tue Apr 11 21:50:00 2023
###################################
For file name: Youtube_Categories.json
Last modification time(Local Time): Tue Apr 11 21:50:01 2023
###################################
For file name: Regions.json
Last modification time(Local Time): Tue Apr 11 21:50:02 2023
Collection: ' Youtube_Videos ' is updated and new information will be update in the collection
<StandardCollection Youtube_Videos>